<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Are You Ready for some Kickball?</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

  <h1>Kickball Teams</h1>

    <ul>
      <% @team_name.each do |name| %>
      <li><h2><a href="/<%= name %>"><%= name %></a></h2></l2>
      <% end %>
    </ul>

  <h1>Positions</h1>

    <ul>
      <% @position.each do |name| %>
      <li><h2><a href="/<%= name %>"><%= name %></a></h2></l2>
      <% end %>
    </ul>

  </body>
</html>
