<h1>Kickball Teams</h1>

  <ul>
    <% @team_name.each do |team| %>
    <li><h2><a href="/t/<%= team %>"><%= team %></a></h2></l2>
    <% end %>
  </ul>

<h1>Positions</h1>

  <ul>
    <% @position.each do |position| %>
    <li><h2><a href="/p/<%= position %>"><%= position %></a></h2></l2>
    <% end %>
  </ul>
