<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flinestone Fire</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

  <h2>Shortstops</h2>
  <table>
    <tr class="top">
      <td>First</td>
      <td>Last</td>
      <td>Team</td>
    </tr>
    <% @shortstop.each do |member| %>
      <tr>
        <td><%= member[:first_name]%></td>
        <td><%= member[:last_name]%></td>
        <td><%= member[:team]%></td>
      </tr>
    <% end %>
  </table>

  <p><a href="/"><< Back</a></p>

  </body>

</html>
