<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simpson Slammers</title>
    <link href="styles.css" rel="stylesheet"/>
  </head>
  <body>

  <h2>Simpson Slammers</h2>

  <table>
    <tr class="top">
      <td>First</td>
      <td>Last</td>
      <td>Position</td>
    </tr>
    <% @slammers.each do |member| %>
      <tr>
        <td><%= member[:first_name]%></td>
        <td><%= member[:last_name]%></td>
        <td><%= member[:position]%></td>
      </tr>
    <% end %>
  </table>

  <p><a href="/"><< Back</a></p>

  </body>

</html>
